apiVersion: v2
name: artemiscloud-operator-crds
description: A Helm chart to install ArtemisCloud Operator CRDs

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.1.0
# Along with chart version, the app version needs to in match with the operator version where the CRDs
# where consumed from, also, it must match with the parent chart appVersion.
appVersion: "1.1.0"
